/* App.css */


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: 'Comic Neue', sans-serif;
}

body {
    background-color: #000;
    overflow-y: scroll;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: #000;
}

.stars-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.star {
    width: 2px;
    height: 2px;
    background: white;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 2px white;
}

.App {
    text-align: center;
    position: relative;
    min-height: 100vh;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
